

.quadradoDeConteudo{
    width: 80%;
    height: 170px;
    margin: auto;
    border-radius: 13px;
    margin-top: 20px;
    display: flex;
    align-items:end;
    margin-top: 20px;
    h2{
        padding-left: 8px;
        padding-right: 5px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 10px;
        color: white;
        background-color: rgba(54, 54, 54, 0.4);
    }
    div{
        display: flex;
        align-items:end;
        width: 100%;
        height: 50%;
    }
}

.quadradoDeConteudo:hover{
    div{
        background-image: linear-gradient(to bottom, transparent, rgb(54, 54, 54));  
        border-radius: 13px;
    }
}


#contexto{
    background-image: url(/Site/Imagens/barcos\ -\ pintura.jpeg);
}

#caracteristicas{
    background-image: url(/Site/Imagens/chegada\ dos\ portugueses.jpeg);
}

#autores{
    background-image: url(/Site/Imagens/padres\ e\ indios.jpeg);
}

#obras{
    background-image: url(/Site/Imagens/indio\ na\ arvore.jpeg);
    margin-bottom: 120px;
}