




h1{
    padding: 4% 0% 0%;
}

#refs{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 50px;


    padding-bottom: 8%;

    
}
.referencia{
    margin-bottom: 50px;
    width: 1000px;
}




a{
    font-family: "Cinzel", serif; ;
    color: #474843;  
}
h1{
    margin-bottom: 15px;
}
.title-refs{
    display: flex;
    align-items: center;
    width: 100%;
    
}
.title-refs::before,
.title-refs::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.title-refs::before{
    margin-right: 10px;
}
.title-refs::after{
    margin-left: 10px;
}
a:hover{
    height: 25px;
    width: 25px;
    color: rgb(146, 177, 255);
}


.title-refs{
    margin-bottom: 25px;
    font-family: "Cinzel", serif;
    font-size: 25px;
    color: #272725;
}
h1::before,
h1::after {
    content: '';
    flex: 1;
    border-bottom:0px;
}
h1::before{
    margin-right: 10px;
}
h1::after{
    margin-left: 10px;
}