body{
    background-color: white;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 230px;
    background-image: radial-gradient(circle, #f6e7be,  #f1d3c1,  #ecb8b2);
    img{
        height: 90px;
    }
    font-family: sans-serif;
    color:  white;
}

h2{
    font-family: "Cinzel", serif;
    color: #474843;
    display: inline-block;
}
p{
    color: #48586F;
    font-size: 18px;
    font-family:sans-serif
}

#proposta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 18%  6%;
    h2{
        text-align: center;
        display: block;
    }
    p{
        text-align: center;
    }
    img{
        width: 110%;
    }
    }

.time{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #FEF5DD, #fbe8cd, #fee2bb);
    border-radius: 20px;
    padding:  1.5% 15% 1.5% 10%;
    img{
        width: 45%;
        margin-right: 5%;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }
}

#pesquisa{
    margin-top: 2%;
    padding-left: 15%;
    background-image: radial-gradient(circle, #ffffff, #ffffff, #ffffff);
    img{
        width: 43%;
    }
}

.contatos{
    p{
        text-align: center;
        font-size: 16px;
    }
    h2{
        text-align: center;
        display: block;
    }
    padding-bottom: 5%;
    img{
        width: 120px;
        margin: 0px 50px;
    }
    div{
        display: flex;
        justify-content: center;
        margin: 45px 0px ;
    }
}

#headersomos{
    width: 100%;
}

#bemvindo{
    display: flex;
    padding: 0px 16%;
    justify-content: center;
    flex-wrap: wrap;
    #conteudo{
        width: 50%;
        padding: 7%;
    }
    p{
        font-size: 20px;
    }
    li{
        display: flex;
        align-items: center;
        font-family: sans-serif;
        color: #50698d;
        list-style: none;
        padding-bottom: 6px;
        img{
            width: 30px;
            padding-right: 10px; 
        }
    }
    h3{
        font-family: "Cinzel", serif;
        color: #474843;
    }
}

#separacao{
    padding: 4% 13% 4%;
}